.NavbarContainer {
  background: white;
  min-height: 60px;
  height: 60px;
  border-bottom: 3px solid #1890ff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  box-sizing: border-box;
}

.homeIcon {
  position: fixed;
  left: 0;
  margin-left: 4%;
}

#iconId {
  padding-right: 0.5em;
}

.links {
  position: fixed;
  right: 0px;
  margin-right: 1%;
}

a {
  font-size: 1.8rem;
  text-decoration: none;
  transition: all 0.4s ease-out;
}

@media screen and (max-width: 750px) {
  a {
    font-size: 1.4rem;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) {
  a {
    font-size: 1rem;
  }
}

.links a {
  padding: 0 1em;
}

@media screen and (max-width: 750px) {
  .links a {
    padding: 0 0.3em;
  }
}
